
.icon-check:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-phone-squared:before { content: '\e802'; } /* '' */
.icon-check-1:before { content: '\e803'; } /* '' */
.icon-copyright:before { content: '\e804'; } /* '' */
.icon-gplus-squared:before { content: '\e805'; } /* '' */
.icon-plug:before { content: '\e806'; } /* '' */